<!doctype html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<title>More Info</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="/">Welcome to The Room</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
    <div class="col-2"></div>
    <div class="col-3" style="background-color: white; border-radius: 30px; margin: 10px; padding: 30px;">
    <h1>Welcome!</h1>
    <p>
    This is my tweet generator for the movie, "The Room" by Tommy Wiseau.<br>

    Email: <a href="https://github.com/pomfy113">pomfy113@gmail.com</a> <br>
    Github: <a href="https://github.com/pomfy113">Pomfy113</a>
    Github Repository
    </p>
    <p>
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="background-color: white; border-radius: 30px; margin: 10px; padding: 30px;">
    <h2>About/FAQ:</h2>
        <h4>What.</h4>
            <p>That's not a question!</p>
            <p>
                It uses a
                <a href="https://en.wikipedia.org/wiki/Markov_chain" style="">Markov Chain</a>
                to spew out a close-to-grammatical sentence that looks like it belongs in the
                actual movie, "The Room." Simple enough, yeah?
             </p>
        <h4>But why?</h4>
            <p>
                To see how far I can possibly go. If I was going to make
                something about a "so bad, it's good" movie, why not go all out?
                I took my inspiration from terrible 90's sites, geocities, and
                just "what not to do for a website" junk.<br>
                Oh.<br>
                <strong>Also the actual movie's website.</strong>
            </p>
        <h4>No, I mean what was the purpose of this?</h4>
            <p>
                Mostly to showcase what I learned in a basic CS class.
                Sure, the site looks like it took work to make it ugly as sin.,
                but most of it actually came from what's going on in the back.
            </p>
        <h4>Like...?</h4>
            <p>For stuff I did:
                <ul>
                <li>
                    It uses a basic 2nd order Markov Chain (see above)
                    So what this basically means is that it grabs two words, then looks
                    ahead and goes "Oh, what word is likely to show up afterwards".
                </li>
                <li>
                    Under the hood is a whole slew of regular expressions. Most if
                    not all of the work being done are actually regex! They do stuff like:
                    <ul><li>Clear out all non-dialogue</li>
                        <li>Handle stop tokens, like periods, exclamations, and question marks</li>
                        <li>Remove misc notes, like [inaudible] or [incomprehensible] sounds.</li>
                        <li>Handle word searching and replacement</li>
                        <li>Clean-up and slicing things into a list of words to use</li>
                        <li>Likely more things I might have forgotten</li>
                    </ul>
                </li>
                <li>
                    Linked lists and stochastic sampling to handle this mess.
                    There's a queue that handles the two words like, say, if you had:<br>
                    "one fish red fish one fish blue fish one fish blue fish"<br>
                    And you get<br>
                    ["one", "fish"]<br>
                    We notice that on the list that after those two words in order,
                    "red" appears one time, and "blue" happens twice.<br>
                    So we roll a three sided dice. "Red" has a 1/3 chance, "Blue" has a 2/3
                </li>
            </p>
    </div>
</div>
