<!doctype html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/style.css?time={{time}}">

<style>
/*body{
background-image: url('../static/images/background.jpg');
}*/
</style>

</head>
<audio src="../static/sounds/OhHiMark.mp3" id="greeting" autoplay></audio>
<audio src="../static/sounds/brodyquest.mp3" loop id="bgsound"></audio>

<title>The Room - The Tweetening</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="/">Welcome to The Room</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>

<img src="../static/images/spoon.png" class="spoon">

<div class="row justify-content-center">
    <div class="col-8">
        <div class="tweet"><h1>{{output}}</h1></div>
    </div>
</div>
<img src="../static/images/spoon.png" class="spoon">

<div class="row justify-content-center">
    <div class="col-10">
        <img src="../static/images/giphy.gif" style="width: 30%;">
        <img src="../static/images/giphy2.gif" style="width: 30%;">
        <img src="../static/images/giphy.gif" style="width: 30%;">
    </div>

</div>
<img src="../static/images/spoon.png" class="spoon">
<img src="../static/images/football.png" class="football">

<div class="row justify-content-center">
    <div class="col-8"><h2 class="rainbow">BEST TWEETGEN ALL TIME 2017</h2><br><br></div>
    <div class="col-3">
        <img src="../static/images/hidog.gif" class="dog">
    </div>
</div>
<img src="../static/images/spoon.png" class="spoon">
<div class="row justify-content-around">
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.25s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.75s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.1s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.3s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.4s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.6s;">
    </div>
</div>
<br><br>
<p style="color=white;">I did not hit her</p>

<script>
var greet = document.getElementById("greeting");

var playlist = Array(
    "../static/sounds/OhHiMark.mp3",
    "../static/sounds/hidoggie.mp3",
    "../static/sounds/unintelligible.mp3",
    "../static/sounds/betray.mp3",
    "../static/sounds/fedup.mp3"
);
var randomSong = playlist[Math.floor(Math.random()*playlist.length)];
greet.setAttribute('src', randomSong);

var bg = document.getElementById("bgsound");
setTimeout(function(){
    bg.play()
}, 1500);
bg.volume = 0.1;


</script>
