<!doctype html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/style.css">

</head>
<title>Tweet Generator</title>
<div class="navbar">
<ul>
  <li><a class="active" href="/">Reload</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/favorites(WIP)">Favorites</a></li>
</div>
</ul>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="tweet"><h1>{{output}}</h1></div>
    </div>
</div>
