<!doctype html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/style.css?time={{time}}">

<style>
/*body{
background-image: url('../static/images/background.jpg');
}*/
</style>

</head>
<audio src="../static/sounds/OhHiMark.mp3" autoplay></audio>
<audio src="../static/sounds/brodyquest.mp3" loop autoplay></audio>

<title>Tweet Generator</title>
<div class="navbar">
    <ul>
      <li><a class="active" href="/">Reload</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/favorites(WIP)">Favorites</a></li>
  </ul>
</div>
<img src="../static/images/spoon.png" class="spoon">


<div class="row justify-content-center">
    <div class="col-8">
        <div class="tweet"><h1>{{output}}</h1></div>
    </div>
</div>
<img src="../static/images/spoon.png" class="spoon">

<div class="row justify-content-center">
    <div class="col-10">
        <img src="../static/images/giphy.gif" style="width: 30%;">
        <img src="../static/images/giphy2.gif" style="width: 30%;">
        <img src="../static/images/giphy.gif" style="width: 30%;">
    </div>

</div>
<img src="../static/images/spoon.png" class="spoon">
<img src="../static/images/football.png" class="football">

<div class="row justify-content-center">
    <div class="col-8"><h2 class="rainbow">BEST TWEETGEN ALL TIME 2017</h2><br><br></div>
    <div class="col-3">
        <img src="../static/images/hidog.gif" class="dog">
    </div>
</div>
<img src="../static/images/spoon.png" class="spoon">
<div class="row justify-content-around">
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.25s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.75s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.1s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.3s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.4s;">
    </div>
    <div class="col-1">
        <img src="../static/images/balloon.png" class="balloon" style="animation-delay: 0.6s;">
    </div>
</div>
<br><br>
I did not hit her
